.container {
  background-color: @gray-darker;
  width: 960px !important;
}

.empty-footer {
  height: 75px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px){
  .nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
  }

  .learn-more {
    min-width: 250px;
  }

  .title {
    margin-top: 0px;
  }

  .featured-article {
    border-top: 1px solid gray;
    padding-top: 20px;
  }
}