@media (min-width: 768px){
  .nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
  }

  .learn-more {
    min-width: 250px;
  }

  img {
    padding: auto;
  }

  .title {
    margin-top: 0px;
  }

  .featured-article {
    border-top: 1px solid gray;
    padding-top: 20px;
  }
}